*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "sectionA sectionA sectionA sectionA"
    "sectionB sectionB sectionB sectionB"
    
    "footer footer footer footer ";
    
    background: #DCFFCC;

}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
    width: 60vw;/*resposive*/
	margin: 30px auto;

    justify-content: center;
	border-radius: 20px;
    background-color: rgb(186, 247, 199);
}

/* .............. logo- encabezado-----------*/
.logo {
	display: flex;
	float: left;
	align-items: flex-start;
	/*background-size : cover;*/
}




.logo  img {
	width: 20vw;
	border-radius: 40px;
	margin-left: 30px;

   }



 .titulo h1{
    font-size: 500%;
    
    text-align: center;
    color:rgb(215, 217, 219);
    animation-duration: 5s;
    animation-name: mover;
    animation-iteration-count: 1;
    animation-direction: alternate;
    
    
    }
   @keyframes mover {
    from {
      margin-left:100%;
      width:300%
    }
  
    to {
     margin-right:0%;
     width:100%;
   }
   }
    .menu{
        list-style: none;
        
    }

    .menu > li{
        position: relative;
        display: inline-block;
    }
    .menu > li > a{
        display: block;
        padding: 15px 20px;
        color: #353535;
        font-family: 'Open sans';
        font-size: 1em;
        text-decoration: none;
    }
    
    .menu li a:hover{
        color: #CE7D35;
        transition: all 3s;
    }
    
    /* Submenu*/
    
    .submenu{
        position: absolute;
        background: #C4DFAA;
        width: 120%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 1.5s;
        z-index: 1;
    }
    
    .submenu li a{
        display: block;
        padding: 15px;
        color: #353535;
        font-family: 'Open sans';
        text-decoration: none;
    }
    
    .menu li:hover .submenu{
        
        visibility: visible;
        opacity: 1;
        
    }
    /*--------- carrusel------------*/

    

    .item-slide  .pagination-item  img{
        max-width: 100%;
    }
    
    .sectionA{
        grid-area: sectionA;
        margin-left: 20%;
        position: relative;
        max-width: 500px;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        
    }
    
    .slide{
        display: flex;
        transform: translate3d(0, 0, 0);
        transition: all 600ms;
        animation-name: autoplay;
        animation-duration: 6.5s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
    }
    
    .item-slide{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 100%;
    }
    
    .pagination{
        position: absolute;
        bottom: 20px;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .pagination-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid white;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 10px;
        text-align: center;
        transition: all 300ms;
    }
    
    .pagination-item:hover{
        transform: scale(2);
    }
    
    .pagination-item img{
        display: inline-block;
        max-width: none;
        height: 100%;
        transform: scale(1);
        opacity: 0;
        transition: all 300ms;
    }
    
    .pagination-item:hover img{
        opacity: 1;
        transform: scale(1);
    }
    
    
    input[id="1"]:checked ~ .slide{
        animation: none;
        transform: translate3d(0, 0, 0);
    }
    
    input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
        background: #fff;
    }
    
    input[id="2"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
        background: #fff;
    }
    
    
    input[id="3"]:checked ~ .slide{
        animation: none;
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
    
    input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
        background: rgb(234, 231, 236);
    }
    
    
    @keyframes autoplay{
        33%{
            transform: translate3d(calc(-100% * 0), 0, 0);
        }
        
        66%{
            transform: translate3d(calc(-100% * 1), 0, 0);
        }
        
        100%{
            transform: translate3d(calc(-100% * 2), 0, 0);
        }
    }

    /*--------- section B--------*/

    .sectionB{
        grid-area: sectionB;

    }

/*------------footer-------------*/
.footer{
    grid-area: footer;
}
/*---------------página Micro y macro nutientes------*/

main{
    display: grid;
    grid-template-areas: 
    "h1-macro h1-macro"
    "sectionC sectionD";
     grid-template-columns: repeat(2, 1fr);
     gap: 5vw;

}
.h1-macro{
    grid-area: h1-macro;
}
.sectionC{
    grid-area: sectionC;
    
    }
 .sectionD{
        grid-area: sectionD;
        
    }



.h1-macro >h1{
    text-align: center;
}

.h2-macro >h2{
    text-align: center;
}

.img-macro{
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 40vh;
    width: 50vw;
    
}
.img-macro img{
   
    width: 65%; 
    
}
/*--contenedor que contiene al p*/
.p-div-macro{
    width: 50vw;
    background-color: #fff;
    border-radius:5vw;
    text-align: center;
    padding: 2vw;
    min-height: 50vh;
    word-wrap: break-word;
   /* ­webkit­shape­inside: rectangle(0,0,100%,100%,50px,50px);*/
   /* shape-outside: rectangle(0,0,100%,100%,5vw,5vw);*/
}
/*le doy estilo dentro del div al p*/
.p-div-macro p{
    font-size:larger;
    
    height: 100%;
}